ul {
    border: 3px solid purple;
    width: 100px;
    height: 150px;
    float: left;
    color: black;
    list-style-type: square;
    padding-top: 20px;
}

li a {
    color: blueviolet;
}

.first_section {
    width: 900px;
    height: 60px;
    border: 3px solid orange;
    float: right;
    box-sizing: border-box;
    padding: 15px;
}

.second_section {
    width: 900px;
    height: 150px;
    border: 3px solid orange;
    float: right;
    box-sizing: border-box;
    padding: 15px;
}

.third_section {
    width: 900px;
    height: 60px;
    border: 3px solid orange;
    float: right;
    box-sizing: border-box;
    padding: 15px;
}

.footer {
    width: 1050px;
    height: 60px;
    border: 3px solid green;
    box-sizing: border-box;
    padding: 15px;
    clear: both;
}

body {
    border: 3px dotted dodgerblue;
    height: 278px;
    width: 1058px;
    padding: 1px;
    box-sizing: border-box;
}